.nameBox{
    // border: 2px dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name {
    // background-color: red;
    font-size: 140px;
    font-weight: bold;
    text-align: center;
}
