$color: #f2eee7;
@import url("https://use.typekit.net/tij8goi.css");
.header {
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 100;

    .headerBox {
        margin: 30px 100px 30px 100px;
        display: flex;
        justify-content: space-between;
        border: 2px solid #858585;
        background-color: #f2eee760;
        backdrop-filter: blur(7px);
        border-radius: 50px;

        .nameTitle {
            margin-left: 30px;
            font-size: 48px;
            text-shadow: 0 0 0.1em $color, 0 0 0.1em $color, 0 0 0.1em $color,
                0 0 0.1em $color, 0 0 0.1em $color, 0 0 0.1em $color;
            text-align: center;
            font-family: "voluta-script-pro", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .hamburgerMenu {
            font-size: 48px;
            margin: auto 30px auto auto;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
