.history {
    padding: 20px;
    // background-color: yellow;
    display: flex;
    // max-height: 562px;
    // overflow: hidden;
    width: auto;
    .titleBox {
        position: relative;
    }

    .eventBox {
        display: flex;

        ul {
            list-style: none;
            height: 100%;
            // background-color: aquamarine;
            margin-bottom: 20px;
        }
        li {
            // background-color: lightcoral;
            padding: 30px;
            font-weight: 600;
            height: auto;
            font-size: 2rem;
            border: 1px solid black;
        }
        .award {
            color: red;
            font-weight: 600;
            height: auto;
            font-size: 2rem;
        }
    }
}
