$color: #f2eee7;
.mainView {
    padding-top: 15%;
    height: 70%;
    padding-left: 50px;
    overflow: hidden;
    position: relative;

    .backgroundBox {
        position: absolute;
        width: 100vw;
        height: 700px;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        .square {
            transform: rotate(170deg);
            height: 70%;
            width: 45%;
            background-color: black;
        }
    }

    .nameEn {
        font-size: 130px;
        text-shadow: 0 0 0.1em $color, 0 0 0.1em $color, 0 0 0.1em $color,
            0 0 0.1em $color, 0 0 0.1em $color, 0 0 0.1em $color;
        color: black;
        font-weight: bold;
        z-index: 2;
        position: relative;
    }

    .nameJp {
        font-size: 140px;
        text-shadow: 0 0 0.1em $color, 0 0 0.1em $color, 0 0 0.1em $color,
            0 0 0.1em $color, 0 0 0.1em $color, 0 0 0.1em $color;
        color: black;
        font-weight: bold;
        z-index: 2;
        position: relative;
    }
}
