.workCard {
    padding: 10px;
    margin-bottom: 50px;
    z-index: 70;
    border: 3px solid black;
    width: 30%;
    background-color: #f2eee7;
    // margin: 0 50px 0 0;

    .category {
        border: 1px solid gray;
        border-radius: 5px;
        width: 50px;
        text-align: center;
        padding: 3px 10px 3px 10px;
    }
    .colorWeb {
        background-color: #6bff5e;
    }
    .colorApp {
        background-color: #5ed8ff;
    }
    .colorIoT {
        background-color: #ffb55e;
    }

    .card {
        .workTitle {
            font-size: 48px;
            text-align: center;
            font-weight: bold;
        }

        .workImage {
            background-color: lightgray;
            height: 297px;
            margin: 10px;
            border: 1px solid black;

            .image {
                height: 100%;
                width: 100%;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.5;
                transition: 0.3s;
            }
        }

        .explanation {
            margin: 10px;
            margin-top: 20px;
            // background-color: aqua;
            height: 200px;
        }
    }
}
